/* ===== giúp padding không làm vỡ layout ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== đổi màu 1 chỗ, ăn toàn site ===== */
:root {
    --primary: #FFB800;
    --dark: #171100;
    --bg: #FFFAF5;
    --gray: #5e5e5e;
    --white: #ffffff;
}

html {
  /* 1 rem = 10px */
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background-color: var(--bg);
    color: var(--dark);
}

/* =====container===== */
.container{
    width: 1170px;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
    border: 10px solid red;
}

/* ===== Base - Button ===== */
a {
  text-decoration: none;
}

.btn{
   /* Layout */
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  text-align: center;

  /* Text */
  font-size: 1.6rem;
  /* độ đậm/nhẹ của chữ */
  font-weight: 600;
  color: var(--bg);

  /* Style */
  background: var(--dark);
  border-radius: 25px;
}

/* ===== Header ===== */
.header.fixed{
  position: sticky;
  top: -28px; /* 36 - 8 = 28*/
  z-index: 100;
}

.header{
  background: var(--primary);
}

.header .main-content {
    max-width: 1170px;
    margin: 0 auto;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

/* ----- nav -----*/
.nav {
  margin-left: auto;
}

.nav ul{
  display : flex;
}

.nav a{
  position: relative;
  color: var(--gray);
  font-size: 1.6rem;
  /* background-color: blue; */
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover{
  color: var(--dark);
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after{
  left: 21px;
  bottom: 6px ;
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--dark);
}
/* ----- sign up ----- */
.header .btn-signup {
  min-width: 144px;
}

.header .action{
  margin-left: 49px; 
}
/* ===== End header ===== */